@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-track{
    background-color: #ccc;
}
::-webkit-scrollbar-thumb{
    background-color: #FDBA74;
}

 hr {
     @apply dark:border-t-white/10 border-t-gray-300;
 }

 @font-face {
     font-family: 'Morabba Bold';
     src: url('../../public/assets/fonts/Morabba/Morabba-Bold.woff2');

 }

 @font-face {
     font-family: 'Morabba medium';
     src: url('../../public/assets/fonts/Morabba/Morabba-Medium.woff2');

 }

 @font-face {
     font-family: 'Morabba light';
     src: url('../../public/assets/fonts/Morabba/Morabba-Light.woff2');

 }


 @font-face {
     font-family: 'dana';
     src: url('../../public/assets/fonts/Dana/DanaFaNum-Regular.woff2');

 }

 @font-face {
     font-family: 'dana bold';
     src: url('../../public/assets/fonts/Dana/DanaFaNum-DemiBold.woff2');

 }

 @font-face {
     font-family: 'dana medium';
     src: url('../../public/assets/fonts/Dana/DanaFaNum-DemiBold.woff2');

 }
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
 }

 input[type=number] {
 -moz-appearance:textfield;
 }
 input{
     outline: none;
 }
}

@layer components {
 .ltr {
     direction: ltr;
   }
 .rtl {
     direction: rtl;
 }
 .hed__desktop {
     position: relative;
 }

 .hed__mobile {
     background: url(../../public/assets/images/headerBgMobile.webp) no-repeat;
     background-size: cover;
     position: relative;
     width: 100%;
     height: 30vh;

 }

 .hover__link:hover {
     transition: all 300ms;
     color: #FDBA74;
 }
.activeLink{
    color: #FDBA74;
}
 .ProductBox {
     max-height: 240px;
     overflow-y: auto;
 }
 .overflowScroll {
     max-height: 100vh;
     overflow-y: auto;
 }
 .li__item {
     @apply flex gap-x-2.5 items-center py-2 px-3 rounded-md;
 }

 .active {
     @apply text-orange-300 bg-orange-200/20;
 }

 .li__link {
     @apply flex gap-x-2 text-orange-300;
 }

 #hamberMenu {
     @apply z-20 fixed w-64 top-0 right-0 bottom-0 max-h-screen bg-white dark:bg-zinc-700 py-3 px-4;
 }

 .shoppingCart {
     @apply z-20 fixed w-64 top-0 left-0 bottom-0 max-h-screen bg-white dark:bg-zinc-700 py-3 px-4;
 }

 .drop__item--action::after {
     content: '';
     display: block;
     width: 4px;
     height: 4px;
     border-radius: 100px;
     background-color: #fdba74;
     position: absolute;
     right: 0;
     top: 0;
     bottom: 0;
     margin: auto;
 }

 .drop__item--action {
     padding-right: 10px;
     position: relative;
     color: #fdba74;
 }
 .newProduct {
    background: url(../../public/assets/images/body-bg.png)no-repeat;
}

.ProductCard {
    @apply justify-center bg-white text-xs md:text-xl space-y-3 md:w-[300px] md:h-[467px] rounded-2xl p-2 md:p-5 dark:bg-zinc-700 dark:text-white;
}

.wH-5 {
    @apply w-5 h-5 text-gray-400 md:w-8 md:h-8;
}

.swiper-button-prev::after {
    font-size: 10px !important;
    color: black;
    @apply dark:text-white;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative !important;
}

.swiper-button-next {
    left: 0 !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100px !important;
}

.swiper-button-prev {
    right: 0 !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100px !important;
}

.swiper-button-next::after {
    font-size: 10px !important;
    color: black;
    @apply dark:text-white;
}

.club {
    width: 100%;
    background: linear-gradient(90deg, #10B981 0%, #059669 100%);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding-bottom: 32px;
    padding-top: 34px
}

.clubBtn {
    @apply md:w-24 w-16 h-16 md:h-24 justify-center relative bg-white rounded-xl text-center text-emerald-600;
}   

.banerCategory{
    background: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
.bannerCategory1{
    background: url(../../public/assets/images/1.jpg) ;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
.bannerCategory2{
    background: url(../../public/assets/images/2b.jpg);
}
.bannerCategory3{
    background: url(../../public/assets/images/3.jpg);
}
.bannerCategory4{
    background: url(../../public/assets/images/4.jpg);
}

.bannerCategory5{
    background: url(../../public/assets/images/Untitled-1.jpg) no-repeat;
    background-size: cover;
}
    /* Login */
    .coffeeIcone {
        animation: animationCoffee 1.2s infinite alternate;
    }
   
    .lockIcone {
        animation: animationLock 1.2s infinite alternate;
    }
   
    @keyframes animationCoffee {
        from {
            margin-top: -5px;
        }
   
        to {
            margin-top: 5px;
        }
    }
   
    @keyframes animationLock {
        from {
            margin-top: 5px;
        }
   
        to {
            margin-top: -5px;
        }
    }
}